<div class="desktop3-container">
  <div class="desktop3-desktop3">
    <img
      src="/assets/playground_assets/image31161-utsc-200w.png"
      alt="image31161"
      class="desktop3-image3"
    />
    <img
      src="/assets/playground_assets/image21162-5ycw-200w.png"
      alt="image21162"
      class="desktop3-image2"
    />
    <img
      src="/assets/playground_assets/rectangle11163-dt3a.svg"
      alt="Rectangle11163"
      class="desktop3-rectangle1"
    />
    <span class="desktop3-text"><span>1 2 3</span></span>
    <img
      src="/assets/playground_assets/rectangle61165-rjv.svg"
      alt="Rectangle61165"
      class="desktop3-rectangle6"
    />
    <span class="desktop3-text2">+</span>
    <img
      src="/assets/playground_assets/rectangle71167-ukwl.svg"
      alt="Rectangle71167"
      class="desktop3-rectangle7"
    />
    <span class="desktop3-text3">-</span>
    <img
      src="/assets/playground_assets/image11169-2o2-300h.png"
      alt="image11169"
      class="desktop3-image1"
    />
    <img
      src="/assets/playground_assets/image41170-cyz5-200h.png"
      alt="image41170"
      class="desktop3-image4"
    />
  </div>
</div>
