<!DOCTYPE html>
<html>
<head> 
	<title>LA GRULLA</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="elegir-grado.component.css">
	<link rel="icon" href="lagrulla.ico">
	
</head>
<body>
	
<div class="container">
	<h1>LA GRULLA</h1>

        <button type="button" class="btn btn-outline-primary" routerLink="/primer-grado">
            PRIMER GRADO 
        </button>

        <button type="button" class="btn btn-outline-success" routerLink="/segundo-grado">
            SEGUNDO GRADO 
        </button>

        <button type="button" class="btn btn-outline-danger" routerLink="/tercer-grado">
            TERCER GRADO 
        </button>
</div>
</body>
</html>