<div class="desktop5-container">
  <div class="desktop5-desktop5">
    <img
      src="/assets/playground_assets/image4335-xzio-200h.png"
      alt="image4335"
      class="desktop5-image4"
    />
    <span class="desktop5-text"><span>Puntuación</span></span>
    <img
      src="/assets/playground_assets/alfombrillasdebanodragondedibujosanimadosdecolorna274-9ti5-400h.png"
      alt="alfombrillasdebanodragondedibujosanimadosdecolorna274"
      class="desktop5-alfombrillasdebanodragondedibujosanimadosdecolorna"
    />
    <span class="desktop5-text2"><span>Muy bien! Tu puntaje es:</span></span>
  </div>
</div>
