:host { 
  display: contents; 
}
.desktop5-container {
  min-height: 100vh;
}
.desktop5-desktop5 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.desktop5-image4 {
  top: 29px;
  left: 174px;
  width: 174px;
  height: 105px;
  position: absolute;
  border-color: transparent;
}
.desktop5-text {
  top: 29px;
  left: 433px;
  color: rgba(0, 0, 0, 1);
  width: 573px;
  height: auto;
  position: absolute;
  font-size: 128px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Bubblegum Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop5-alfombrillasdebanodragondedibujosanimadosdecolorna {
  top: 692px;
  left: 13px;
  width: 269px;
  height: 315px;
  position: absolute;
  border-color: transparent;
}
.desktop5-text2 {
  top: 682px;
  left: 254px;
  color: rgba(0, 0, 0, 1);
  width: 466px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Bubblegum Sans;
  font-weight: 400;
  line-height: 128px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
