<div class="desktop1-container">
  <div class="desktop1-desktop1">
    <div class="desktop1-rectangle1">
      <img
        src="/assets/playground_assets/rectangle113-ry1b-800w.png"
        alt="Rectangle113"
        class="desktop1-rectangle11"
      />
    </div>
    <span class="desktop1-text"><span>Ingresa tu nombre...</span></span>
    <img
      src="/assets/playground_assets/rectangle215-3bi-200h.png"
      alt="Rectangle215"
      class="desktop1-rectangle2"
    />
    <div class="desktop1-c-o-m-e-n-z-a-r">
      <span class="desktop1-text2"><span>COMENZAR</span></span>
    </div>
    <img
      src="/assets/playground_assets/descarga118-6cmn9a-300h.png"
      alt="descarga118"
      class="desktop1-descarga1"
    />
    <img
      src="/assets/playground_assets/descarga219-1637-300h.png"
      alt="descarga219"
      class="desktop1-descarga2"
    />
    <div class="desktop1-grulla">
      <span class="desktop1-text4"><span>Grulla</span></span>
    </div>
    <img
      src="/assets/playground_assets/depositphotos357405328stockillustrationfontdesignf112-magm-200h.png"
      alt="depositphotos357405328stockillustrationfontdesignf112"
      class="desktop1-depositphotos357405328stockillustrationfontdesignf"
    />
    <img
      src="/assets/playground_assets/signossumayresta1113-femk-300h.png"
      alt="signossumayresta1113"
      class="desktop1-signossumayresta1"
    />
  </div>
</div>
