
    <div class="row">
        <div>
            <h1>JUEGOS DE SEGUNDO GRADO</h1>
    
            <button type="button" class="btn btn-outline-primary" routerLink="resta2">
                RESTA 
            </button>
    
            <button type="button" class="btn btn-outline-success" routerLink="suma2">
                SUMA
            </button>
    
            <button type="button" class="btn btn-outline-danger" routerLink="numero2">
                NUMEROS 
            </button>
        </div>
    </div>
