<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"  href="segundo-grado.component.css">
	<title>SEGUNDO GRADO</title>
</head>
<body>
    <div class="container">
        <h1>JUEGOS DE SEGUNDO GRADO</h1>
    
            <button type="button" class="btn btn-outline-primary" routerLink="resta1">
                RESTA 
            </button>
    
            <button type="button" class="btn btn-outline-success" routerLink="suma1">
                SUMA
            </button>
    
            <button type="button" class="btn btn-outline-danger" routerLink="numero1">
                NUMEROS 
            </button>
    </div>
</body>
</html>