*{
	margin: 0;
	padding: 0;
	box-sizing: border-box ;
}
body{
	background: url(34.png);
	text-align: center;
}
h1{
	padding: 30px;
}
.container{
	color: white;
	background: url(pizon.jpg);
	max-width: 700px;
	margin: auto;
	border: 2px solid white;
	border-radius: 20px;
	display: flex;
	padding: 60px 0 ; 

}
.izquierdo{
	width: 70%;
	font-size: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.derecha{
	width: 30%;
}
.msj{
	font-size: 40px;
	height: 50px;
}
.opcion{
	width: 80px;
	height: 80px;
	border: 1px solid pink;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: violet;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.opcion: hover{
	background-color: #262626;
}