<div class="desktop4-container">
  <div class="desktop4-desktop4">
    <span class="desktop4-text"><span>Números</span></span>
    <img
      src="/assets/playground_assets/image41180-iple-200h.png"
      alt="image41180"
      class="desktop4-image4"
    />
    <div class="desktop4-rectangle1">
      <img
        src="/assets/playground_assets/rectangle1i161-8aym-800w.png"
        alt="Rectangle1I161"
      />
    </div>
    <img
      src="/assets/playground_assets/ec3ccad4f566bc96509511e3c73ef53dhumourousetiquette5171-7bj5-400h.png"
      alt="ec3ccad4f566bc96509511e3c73ef53dhumourousetiquette5171"
      class="desktop4-ec3ccad4f566bc96509511e3c73ef53dhumourousetiquette"
    />
    <span class="desktop4-text02">
      <span>
        <span>
          Hola, soy Dino, bienvenido
          <span [innerHTML]="raw54z1"></span>
        </span>
        <br />
        <span>
          a mi morada.
          <span [innerHTML]="raweb4p"></span>
        </span>
        <br />
        <span>
          Vamos a aprender un poco de
          <span [innerHTML]="raw48c2"></span>
        </span>
        <br />
        <span>
          números.
          <span [innerHTML]="rawc0u0"></span>
        </span>
        <br />
        <span></span>
        <br />
        <span>¿Estás listo?</span>
      </span>
    </span>
    <img
      src="/assets/playground_assets/alfombrillasdebanodragondedibujosanimadosdecolorna104-hq0v-400h.png"
      alt="alfombrillasdebanodragondedibujosanimadosdecolorna104"
      class="desktop4-alfombrillasdebanodragondedibujosanimadosdecolorna"
    />
    <div class="desktop4-group1">
      <div class="desktop4-i-phone8plus4">
        <img
          src="/assets/playground_assets/rectangle8367-ucf8-200w.png"
          alt="Rectangle8367"
          class="desktop4-rectangle8"
        />
        <span class="desktop4-text15">1</span>
        <img
          src="/assets/playground_assets/rectangle9369-elj-200h.png"
          alt="Rectangle9369"
          class="desktop4-rectangle9"
        />
        <img
          src="/assets/playground_assets/rectangle113610-v3d-200h.png"
          alt="Rectangle113610"
          class="desktop4-rectangle11"
        />
        <img
          src="/assets/playground_assets/rectangle253611-vcz-200h.png"
          alt="Rectangle253611"
          class="desktop4-rectangle25"
        />
        <span class="desktop4-text16"><span>one</span></span>
        <img
          src="/assets/playground_assets/rectangle103613-8nm7i-200w.png"
          alt="Rectangle103613"
          class="desktop4-rectangle10"
        />
        <span class="desktop4-text18">2</span>
        <span class="desktop4-text19"><span>Two</span></span>
        <img
          src="/assets/playground_assets/rectangle143616-igc-200h.png"
          alt="Rectangle143616"
          class="desktop4-rectangle14"
        />
        <img
          src="/assets/playground_assets/rectangle173617-q7i-200h.png"
          alt="Rectangle173617"
          class="desktop4-rectangle17"
        />
        <img
          src="/assets/playground_assets/rectangle163618-6ff9-200h.png"
          alt="Rectangle163618"
          class="desktop4-rectangle16"
        />
        <img
          src="/assets/playground_assets/rectangle153619-bag-200w.png"
          alt="Rectangle153619"
          class="desktop4-rectangle15"
        />
        <span class="desktop4-text21">3</span>
        <span class="desktop4-text22"><span>Three</span></span>
        <img
          src="/assets/playground_assets/rectangle183622-fti6-200h.png"
          alt="Rectangle183622"
          class="desktop4-rectangle18"
        />
        <img
          src="/assets/playground_assets/rectangle243623-v7io-200h.png"
          alt="Rectangle243623"
          class="desktop4-rectangle24"
        />
        <img
          src="/assets/playground_assets/rectangle223624-rwh9-200h.png"
          alt="Rectangle223624"
          class="desktop4-rectangle22"
        />
        <img
          src="/assets/playground_assets/rectangle233625-r73a-200h.png"
          alt="Rectangle233625"
          class="desktop4-rectangle23"
        />
        <img
          src="/assets/playground_assets/rectangle213626-5x0o-200w.png"
          alt="Rectangle213626"
          class="desktop4-rectangle21"
        />
        <span class="desktop4-text24">4</span>
        <span class="desktop4-text25"><span>Four</span></span>
        <img
          src="/assets/playground_assets/rectangle263629-bkss-200h.png"
          alt="Rectangle263629"
          class="desktop4-rectangle26"
        />
        <img
          src="/assets/playground_assets/rectangle313630-d389-200h.png"
          alt="Rectangle313630"
          class="desktop4-rectangle31"
        />
        <img
          src="/assets/playground_assets/rectangle323631-9tbl-200h.png"
          alt="Rectangle323631"
          class="desktop4-rectangle32"
        />
        <img
          src="/assets/playground_assets/rectangle333632-dj-200h.png"
          alt="Rectangle333632"
          class="desktop4-rectangle33"
        />
        <img
          src="/assets/playground_assets/rectangle343633-lj0a-200h.png"
          alt="Rectangle343633"
          class="desktop4-rectangle34"
        />
        <img
          src="/assets/playground_assets/rectangle303634-oduq-200w.png"
          alt="Rectangle303634"
          class="desktop4-rectangle30"
        />
        <span class="desktop4-text27">5</span>
        <span class="desktop4-text28"><span>Five</span></span>
        <img
          src="/assets/playground_assets/rectangle353637-wxdc-200h.png"
          alt="Rectangle353637"
          class="desktop4-rectangle35"
        />
        <span class="desktop4-text30"><span>Count 1-5</span></span>
        <img
          src="/assets/playground_assets/arrow13639-cl6i.svg"
          alt="Arrow13639"
          class="desktop4-arrow1"
        />
      </div>
    </div>
  </div>
</div>
