<div class="desktop2-container">
  <div class="desktop2-desktop2">
    <span class="desktop2-text"><span>Seleccion de curso:</span></span>
    <img
      src="/assets/playground_assets/rectangle11151-70al-200h.png"
      alt="Rectangle11151"
      class="desktop2-rectangle1"
    />
    <img
      src="/assets/playground_assets/rectangle21152-jcog-200h.png"
      alt="Rectangle21152"
      class="desktop2-rectangle2"
    />
    <img
      src="/assets/playground_assets/rectangle31153-7php-200h.png"
      alt="Rectangle31153"
      class="desktop2-rectangle3"
    />
    <span class="desktop2-text2"><span>Primer grado</span></span>
    <span class="desktop2-text4"><span>Segundo grado</span></span>
    <span class="desktop2-text6"><span>Tercer grado</span></span>
    <img
      src="/assets/playground_assets/problemasmatematicosdeprimergrado11158-9try-200w.png"
      alt="problemasmatematicosdeprimergrado11158"
      class="desktop2-problemasmatematicosdeprimergrado1"
    />
    <img
      src="/assets/playground_assets/problemasmatematicosdesegundogrado11159-p47h-200w.png"
      alt="problemasmatematicosdesegundogrado11159"
      class="desktop2-problemasmatematicosdesegundogrado1"
    />
    <img
      src="/assets/playground_assets/problemasmatematicosdetercergrado11160-epra-200w.png"
      alt="problemasmatematicosdetercergrado11160"
      class="desktop2-problemasmatematicosdetercergrado1"
    />
    <img
      src="/assets/playground_assets/image4162-034o-200h.png"
      alt="image4162"
      class="desktop2-image4"
    />
  </div>
</div>
