<div class="row">
	<h1>Juego de restar</h1>
	<div class="container">
		<div class="izquierdo">
			<div class="container-operacion">
				<span id="resta">9 - 1 =</span>
				<span class="resultado" id="resultado">8</span>
			</div>
			<span id="msj" class="msj">EXCELENTE!!</span>
		</div>

		<div class="derecha">
			<span id="op1" class="opcion" onclick="controlarRespuesta(this)">18</span>
			<span id="op2" class="opcion" onclick="controlarRespuesta(this)">18</span>
			<span id="op3" class="opcion" onclick="controlarRespuesta(this)">18</span>
	 	</div>
	</div>
	<button type="button" class="btn btn-outline-success" routerLink="/segundo-grado">
		VOLVER 
	</button>
</div>