<!DOCTYPE html>
<html>
<div class="container">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PRIMER GRADO</title>
	<link rel="stylesheet" type="text/css" href="primer-grado.component.css">
</head>
        <div>
            <h1>JUEGOS DE PRIMER GRADO</h1>
    
            <button type="button" class="btn btn-outline-primary" routerLink="resta1">
                RESTA 
            </button>
    
            <button type="button" class="btn btn-outline-success" routerLink="suma1">
                SUMA
            </button>
    
            <button type="button" class="btn btn-outline-danger" routerLink="numero1">
                NUMEROS 
            </button>
        </div>
</div>
</html>